.bunner-blue{
  background: #3A4FDD;
  max-height: 700px;
}

.bunner{
  display: grid;
  grid-template-columns: 520px auto;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding-top: 130px;
}

.descricao{
 margin-left: 130px;
 align-content: center;
 position: relative;
 height: 240px;
}

/* p-- 47px   h1--75px*/ 

.descricao p{
  font-size: max(47px, 2vw);
  margin: 0;
  padding: 0px;
  position: absolute;
  top: 0;
}

.descricao h1{
  font-size: 75px;
  margin: 0;
  padding: 0px;
  color: #F7E8F5;
  margin-bottom: 15px;
}

.bunner a{
  background: linear-gradient(#66FF18, #50B71C);
  padding: 10px 20px;
  font-size: 36px;
  margin-top: 1000px;
  color: #398811;
  font-weight: bold;
  border-radius: 5px;
  align-items: end;
}

.mine{
  max-width: 700px;
  background: red;
}

.mine img{
  width: 100%;
}

@media (max-width: 730px){
  .bunner{
    grid-template-columns: 1fr;
    margin-left: 16px;
  }

  .descricao{
   margin-left: 0px;
   margin-bottom: 50px;
   }

   .descricao p{
    font-size: 25px;
    }

    .descricao{
      height: 140px;
    }

   .descricao h1{
    font-size: 45px;
   }

   .bunner a{
    font-size: 20px;
   }
   .bunner img{
    width: 1fr;
   }

   .bunner-blue{
    width: 400px;
   }
}