header{
  background: #282828;
  height: 100px;
}


.menu{
display: flex;
justify-content: space-between;
max-width: 1250px;
margin: 0 auto;
align-items: center;
padding-top: 25px;
font-size: 20px;
}

.botoes-menu{
  display: flex;
  gap: 3rem;
}

.menu ul li a{
  color: #F7E8F5;
}

@media (max-width: 300px){
  .menu img{
    width: 60px;
  }
  .menu{
    margin-right: 1rem;
    margin-left: 1rem;
     }
  .botoes-menu{
    gap: 1rem;
    font-size: 1rem;
  }

  header{
    height: 60px;
  }

}

@media (max-width: 350px){
  .menu img{
    width: 60px;
  }
  .menu{
    margin-right: 1rem;
    margin-left: 1rem;
     }
  .botoes-menu{
    gap: 1rem;
    font-size: 1rem;
  }

  header{
    height: 60px;
  }

}

