main{
  background: #F7E8F5;
  max-width: 2300px;
  height: 2250px;
}

main h1{
  font-size: 75px;
  margin: 0 200px;
  margin-bottom: 70px;
}

.bg-galeria{
  margin-top: 170px;
  display: inline-block;
}

.galeria{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1250px;
  gap: 50px;
  margin: 0 200px;
}

.bg-galeria a{
  color: #282828;
  float: left;
  font-size: 36px;
  text-decoration:underline;
  margin-left: 1225px;
  
}

@media (max-width: 430px){
  .galeria{
    grid-template-columns: 1fr;
    max-width: 300px;
    margin: 10px;
  }

  main h1{
    margin: 10px;
  }

  main{
    width: 325px;
  }
}